<h1>Editing character</h1>

<% form_for(@character) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.select(:gender, Character::GENDERS.collect { |g| [g.humanize, g] }) %>
  </p>
  <p>
    <%= f.label :house_id %><br />
    <%= f.select :house_id, @houses.collect { |h| [h.name, h.id] }  %>
  </p>
  <p>
  <%= f.label :spouse %> <br />
    <% if @character.married? %>
      <%= @character.spouse_name %> (cannot change spouse once married)
    <% else %>
      <%= f.select :spouse_id, [['none', -1]] + @character.potential_spouses.collect { |c| [c.name, c.id] } %>
    <% end %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>
