<h1>New route</h1>

<% form_for(@route) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :origin_id %><br />
    <%= f.text_field :origin_id %>
  </p>
  <p>
    <%= f.label :destination_id %><br />
    <%= f.text_field :destination_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', routes_path %>