<h1>Editing marriage</h1>

<% form_for(@marriage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :husband_id %><br />
    <%= f.text_field :husband_id %>
  </p>
  <p>
    <%= f.label :wife_id %><br />
    <%= f.text_field :wife_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @marriage %> |
<%= link_to 'Back', marriages_path %>
